* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6f9;
}

/* NAVBAR */
.navbar {
  background: #1e88e5;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  font-size: 20px;
}

.navbar button {
  background: white;
  color: #1e88e5;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* DASHBOARD CONTAINER */
.container {
  padding: 30px;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #1e88e5;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/* STATUS BADGES */
.status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}

.PENDING { background: orange; }
.APPROVED { background: green; }
.REJECTED { background: red; }

/* BUTTONS */
.action-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.approve { background: green; color: white; }
.reject { background: red; color: white; }

/* FORM */
form input, form select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

/* LOGIN PAGE */
.login-body {
  height: 100vh;
  background: linear-gradient(135deg, #1e88e5, #42a5f5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 10px;
  color: #1e88e5;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

.login-container input,
.login-container select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #1e88e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background: #1565c0;
}

#error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

.card button {
  margin-bottom: 15px;
}

form input, form select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

#calendar tr {
  background-color: #e6ffe6;
}

/* SIMPLE CALENDAR */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  background: #f1f1f1;
}

.calendar-day.leave {
  background: #a5f3a1;
  font-weight: bold;
}

.calendar-day.header {
  background: #ddd;
  font-weight: bold;
}

